@import url('https://fonts.googleapis.com/css?family=Dosis');

html,body{ 
	width:100%;
  height:100%;
  margin: 0;
  padding:0;
  font-family:'Dosis', sans-serif;
}

#particles-js{
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index:2;
    
}

#about,#skills,#contact-me-section{
  height: 100vh;
}

.title-msg{
  position: absolute;
  width: 100%;
  height: 250px;
  top:50%;
  text-align: center;
  margin-top: -125px;
  color:rgb(2, 2, 2);
  z-index: 2;
}

.title-msg .heading .main{
  text-shadow:0px 2px 5px rgba(0,0,0,3);
  font-weight: 100;
  letter-spacing: 1.2rem;
  font-size: 3rem;
}

.title-msg .heading .sub{
  font-size:2rem;
  letter-spacing: 1rem;
}

#navigation{
  background: black;
  padding: 10px 10px;
  z-index:100;
  width:100%;
}

#navigation li{
  padding: 0 10px;
}

.fixed-nav #navigation{
  position: fixed;
  top:0;
}

#navigation li a{
  color:white;
  font-weight: bold;
}

.navbar-brand,
.navbar-brand:hover{
  color:#2ecc72;
  font-size: 2em;
}


.section{
  padding: 100px 0;
}

.about-img{
  max-width: 100%;
  filter:grayscale(100%);
}  

.about-img:hover{
  box-shadow: 6px 6px grey;
  filter:grayscale(0);
  transform: scale(1.1);
  transition: 1s;
  border: 10px solid #2ecc72;
  padding :5px;
}

.text-shadow{
  text-shadow: 1px 1px grey;
}

.col-md-7 h1{
  font-size: 3rem;
}

.col-md-7 p{
  font-size: 1.3rem;
}

.skills-section{
  background-color: #1287A5;
  color:white;
}

.skill{
  text-align: center;
  margin-left: 10px;
}

.chart{
  position: relative;
  width:152px;
  height:152px;
  display: inline-block;
  text-align: center;
}

.chart canvas{
   position: absolute;
   top:0;
   left:0;
}

.chart .percent{
  color:#2ecc71;
  line-height:152px;
  display: inline-block;
  font-size:35px;
}

.chart .percent:after{
  content:"%"
}

#contact div h1:hover{
  transform: scale(1.2);
}

#contact div p{
  font-size: 1.5em;
}

.contact-button{
  color:#ecf0f1;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border:1px solid silver;
  border-radius: 5px;
  background: #2980b9;
}

.contact-button:hover{
  text-decoration: none;
  color:black;
  background: #00cec9;
}

#contact-me-section{
  margin-top: 2%;
  text-align: center;
  margin-bottom: 5%;
}

#contact-me-section h1{
  margin-bottom: 5%;
  margin-top:30px;
} 

#contact-me-section h1:hover{
  transform: scale(1.8);
  transition: 0.2s;
}

#contact-me-section p{
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 1.2em 1em;
  box-shadow: -3px 7px 39px -5px rgba(0, 0, 0, 0.38);
}

#contact-me-section .info-list-1 ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#contact-me-section .info-list-1 ul li{
  font-size: 0.9em;
  font-weight:500;
  margin-bottom: 0.65em;
  letter-spacing: 1px;
  text-align: left;
  letter-spacing: 2px;
  padding: 1.2em 1em;
  box-shadow: -3px 7px 39px -5px rgba(0, 0, 0, 0.38);
  border-radius: 50px;
}

#contact-me-section .info-list-1 ul li:hover{
  transform: scale(1.1);
  transition: 0.2s;
  background: #1287A5;
}

#contact-me-section .info-list-1 ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#contact-me-section .info-list-1 ul li i{
  margin-right: 6%;
}

#contact-me-section iframe{
  box-shadow: -3px 7px 39px -5px rgba(0, 0, 0, 0.38);
}

#contact-me-section iframe:hover{
  transform: scale(1.08);
  transition: 0.2s;
}

#footer{
  background-color: black;
  color: white;
  min-height: 55px;
}

#footer p{
  margin-top: 1%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

#name{
  color: #67E6DC;
  padding-left: 0.5%; 
}

