/* All copyright reserved 
Created by:SIDDHARTH GUSAIN
*/

@import url('https://fonts.googleapis.com/css?family=Dosis');
/* Global styles */
html,body{ 
	width:100%;
  height:100%;
  margin: 0;
  padding:0;
  font-family:'Dosis', sans-serif;
  font-size:1rem;
}
/* Preloader styles */
.loader-container {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  z-index:1000;
  background: white;
  position: fixed;
  top:0;
  left:0;
}
.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}
/* particle js styles */
#particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index:2;
}
.title-msg{
  position: absolute;
  width: 100%;
  height: 250px;
  top:50%;
  text-align: center;
  margin-top: -125px;
  color:white;
  z-index: 2;
}
.title-msg .heading .main{
  text-shadow:0px 2px 5px white;
  font-weight: 100;
  letter-spacing: 1.2rem;
  font-size: 2.7rem;
}
.title-msg .heading .sub{
  font-size:2rem;
  letter-spacing: 1rem;
}
.main-img{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  background: url('/assets/images/main-image.jpg');
  background-size: cover;
  z-index:-2;
}
/* navigation bar styles */
#navigation{
  background: black;
  padding: 10px 10px;
  z-index:100;
  width:100%;
}
#navigation li{
  padding: 0 10px;
}
.fixed-nav #navigation{
  position: fixed;
  top:0;
}
#navigation li a{
  color:white;
  font-weight: bold;
}
#navigation li a:hover{
  color:#2ecc72;
}
.navbar-brand,
.navbar-brand:hover{
  color:#2ecc72;
  font-size: 2em;
}
/* about section styles */
.section{
  padding: 100px 0;
}
.about-img{
  max-width: 100%;
  filter:grayscale(100%);
}  
.about-img:hover{
  box-shadow: 6px 6px grey;
  filter:grayscale(0);
  transform: scale(1.1);
  transition: 1s;
  border: 10px solid #2ecc72;
  padding :5px;
}
.text-shadow{
  text-shadow: 2px 2px grey;
  color: #192A56;
  font-weight: bold;
}
.about-description {
  font-size: 1.3em;
}
/* skills section styles */
.skills-section{
  background-color: #1287A5;
  color:white;
}
.skill{
  text-align: center;
  margin-left: 10px;
}
.chart{
  position: relative;
  width:152px;
  height:152px;
  display: inline-block;
  text-align: center;
}
.chart canvas{
   position: absolute;
   top:0;
   left:0;
}
.chart .percent{
  color:#2ecc71;
  line-height:152px;
  display: inline-block;
  font-size:35px;
}
.chart .percent:after{
  content:"%"
}
/* portfolio section  styles */
#portfolio{
  background: #1287A5;
  padding: 50px;
}
.portfolio-title:hover{
  transform: scale(1.5);
  transition: 0.5s;
}
.card{
  height:300px;
  background:rgb(12, 12, 12);
  overflow: hidden;
  box-shadow: 0 5px 10px;
}
.card a{
  height: 100%;
  width: 100%;
}
.card a .project-image{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card:hover a .project-image:before{
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#000 50%,transparent);
  transition: 0.5s;
  z-index:1;
}
.card a .project-image img{
  width:100%; 
  height: 100%;  
  background-size: cover; 
}
.card:hover a .project-image img{
  filter: blur(4px);
}
.project-details{
  position: absolute;
  padding:20px;
  width:100%;
  height:75%;
  left:0;
  bottom:-200px;
  box-sizing: border-box;
  transition: 0.5s;
  z-index:2;
}
.card:hover a .project-details{
  bottom: 0;
}
.project-details h1{
  color:#EEC213;
  margin: 0;
  padding:0;
  font-size: 1.5rem;
}
.project-details h2{
  color:rgb(63, 190, 112);
  font-size: 1.2rem;
}
.project-tech-stack{
  position: relative;
  padding: 5px 0;
}
.project-tech-stack h1{
  font-size: 1.5em;
  font-weight: bold;
  color:white;
}
/* contact section styles */
#contact div h1:hover{
  transform: scale(1.2);
}
#contact div p{
  font-size: 1.5em;
}
.contact-button{
  color:#ecf0f1;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border:1px solid silver;
  border-radius: 5px;
  background: #2980b9;
}
.contact-button:hover{
  text-decoration: none;
  color:black;
  background: #00cec9;
}
/* connect with me section */
#contact-me-section{
  margin-top: 2%;
  text-align: center;
  margin-bottom: 5%;
}
#contact-me-section h1{
  margin-bottom: 5%;
  margin-top:30px;
} 
#contact-me-section h1:hover{
  transform: scale(1.2);
  transition: 0.2s;
}
#contact-me-section p{
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 1.2em 1em;
  box-shadow: -3px 7px 39px -5px rgba(0, 0, 0, 0.38);
}
#contact-me-section .info-list-1 ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#contact-me-section .info-list-1 ul li{
  font-size: 0.9em;
  font-weight:500;
  margin-bottom: 0.65em;
  letter-spacing: 1px;
  text-align: left;
  letter-spacing: 2px;
  padding: 1.2em 1em;
  box-shadow: -3px 7px 39px -5px rgba(0, 0, 0, 0.38);
  border-radius: 50px;
}
#contact-me-section .info-list-1 ul li:hover{
  transform: scale(1.1);
  transition: 0.2s;
}
.li-hover li:nth-child(1):hover{
  background: #4DBFA5;
}
.li-hover li:nth-child(2):hover{
  background: #0A79DF;
}
.li-hover li:nth-child(3):hover{
  background: #BB473D;
}
.li-hover li:nth-child(4):hover{
  background:#2187A5;
}
.li-hover li:nth-child(5):hover{
  background:#24292E;
}
.li-hover li:nth-child(6):hover{
  background:#1EA1F2;
}
.li-hover li:nth-child(7):hover{
  background:#0077B5;
}
#contact-me-section .info-list-1 ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#contact-me-section .info-list-1 ul li i{
  margin-right: 6%;
}
#contact-me-section iframe{
  box-shadow: -3px 7px 39px -5px rgba(0, 0, 0, 0.38);
}
#contact-me-section iframe:hover{
  transform: scale(1.08);
  transition: 0.2s;
}
/* footer styles */
#footer{
  background-color: black;
  color: white;
  min-height: 55px;
}
#footer p{
  margin-top: 1%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
#name{
  color: #67E6DC;
  padding-left: 0.5%; 
}

